@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a; /* Dark Blue/Slate Background */
  color: #e2e8f0; /* Light Grey Text */
  margin: 0;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    sans-serif;
}
